{% extends 'base.html' %}

{% block title %}
   Edit Answer
{% endblock %}

{% block content %}
    <section class="min-vh-100 gradient-custom container-fluid">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">
                                    Edit Answer
                                </h2>

                                <p class="text-white-50 mb-5">
                                    Please fill in the form edit an answer.
                                </p>

                                <h1 class="h1">
                                    Answer
                                </h1>

                                <p class="text-danger">
                                    {% for error in answer_form.answer.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </p>
                                <form method="post">
                                    <div>
                                        {{ answer_form.media }}
                                        {{ answer_form.answer }}
                                    </div>

                                    <div>
                                        <p class="text-danger">
                                            {% for e in answer_form.is_right.errors %}
                                                {{ e }}
                                            {% endfor %}
                                        </p>
                                        <div class="form-outline form-white mb-4">
                                            <p class="text-light">Is the answer correct?</p>
                                            {{ answer_form.is_right }}
                                        </div>

                                        <p class="text-danger">
                                            {% for e in answer_form.order.errors %}
                                                {{ e }}
                                            {% endfor %}
                                        </p>
                                        <div class="form-outline form-white mb-4">
                                            <p class="text-light">Answer ordinal number</p>
                                            {{ answer_form.order }}
                                        </div>
                                    </div>

                                    {% csrf_token %}
                                    <button class="btn btn-outline-light btn-lg px-5 mt-3" type="submit">
                                        Save
                                    </button>

                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
