{% extends 'base.html' %}

{% block title %}
    Questions
{% endblock %}

{% block content %}
    <section class="min-vh-100 gradient-custom container-fluid pb-5">
        <div class="position-relative top-0 start-0">
            <a class="btn btn-primary mt-2 ms-4" href="{% url 'account:dashboard' %}">Return to Subjects</a>
        </div>

        <h1 class="text-light text-center pt-4">
            <a class="text-decoration-none text-light"
               href="{% url 'questions:subject' subject.id subject.slug %}">{{ subject.name }}</a>
        </h1>

        <div class="container mx-auto px-auto">

            <div class="row my-3 row-cols-1 row-cols-md-2 pb-3">
                <div class="card col-md-12 bg-dark text-light my-3 py-2">
                    <div class="card-body">
                        <h5 class="card-title text-center">Add Question</h5>
                        <p class="card-text text-center">
                            <a href="{% url 'questions:question-create' subject.id subject.slug %}">
                                <i class="fas fa-plus fa-5x mt-4"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionPanelsStayOpen">
                {% if tag %}
                    <div class="d-flex justify-content-center mb-3">
                        <h2 class="h2 text-light">Questions with tag: <span class="text-danger">{{ tag.name }}</span>
                        </h2>
                    </div>
                {% endif %}

                <div class="d-flex justify-content-around mb-5">
                    <form method="get" class="w-25 text-center">

                        <div class="form-outline form-white mb-4">
                            {{ search_form.query.errors }}
                            {{ search_form.query }}
                            <label class="form-label" for="query">Search in questions and answers</label>
                        </div>

                        <button type="submit" class="btn-outline-warning btn-rounded">Search</button>
                    </form>

                    <form method="get" class="w-25 text-center">

                        <div class="form-outline form-white mb-4">
                            {{ tag_search_form.tag_query.errors }}
                            {{ tag_search_form.tag_query }}
                            <label class="form-label" for="tag_query">Search in tags</label>
                        </div>

                        <button type="submit" class="btn-outline-warning btn-rounded">Search</button>
                    </form>
                </div>

                {% if query %}
                    <div class="d-flex justify-content-center">
                        <h2 class="h2 text-light">Questions containing: <span
                                class="text-danger">{{ query }}</span>
                        </h2>
                    </div>
                {% endif %}

                {% if tag_query %}
                    <div class="d-flex justify-content-center">
                        <h2 class="h2 text-light">Questions with tags containing: <span
                                class="text-danger">{{ tag_query }}</span>
                        </h2>
                    </div>
                {% endif %}

                {#                {% for question in questions %}#}
                {##}
                {#                    <div class="accordion-item rounded mt-3">#}
                {#                        <nav class="navbar navbar-light bg-transparent">#}
                {#                            <div class="container-fluid">#}
                {#                                <a class="btn btn-success"#}
                {#                                   href="{% url 'questions:question' subject.id subject.slug question.id %}">#}
                {#                                    Edit#}
                {#                                </a>#}
                {#                                <button type="button" data-mdb-toggle="modal"#}
                {#                                        data-mdb-target="#delete{{ question.id }}"#}
                {#                                        class="btn btn-danger">#}
                {#                                    Delete#}
                {#                                </button>#}
                {#                            </div>#}
                {#                        </nav>#}
                {##}
                {#                        <h2 class="accordion-header" id="heading{{ question.id }}">#}
                {#                            <button class="accordion-button d-block collapsed" type="button" data-mdb-toggle="collapse"#}
                {#                                    data-mdb-target="#panelsStayOpen-collapse{{ question.id }}">#}
                {#                                {{ question.question|safe }}#}
                {#                            </button>#}
                {#                        </h2>#}
                {#                        <div id="panelsStayOpen-collapse{{ question.id }}" class="accordion-collapse collapse">#}
                {#                            <div class="accordion-body">#}
                {#                                <div class="d-flex justify-content-center border-bottom border-dark mb-2">#}
                {#                                    <h3 class="h3">Answers</h3>#}
                {#                                </div>#}
                {##}
                {#                                {% for answer in question.answers.all %}#}
                {#                                    {% if answer.is_right %}#}
                {#                                        <div class="p-2 my-2" style="border: 3px green solid; border-radius: 15px">#}
                {#                                            {{ answer.answer|safe }}#}
                {#                                        </div>#}
                {#                                    {% else %}#}
                {#                                        <div class="p-2 my-2" style="border: 3px red solid; border-radius: 15px">#}
                {#                                            {{ answer.answer|safe }}#}
                {#                                        </div>#}
                {#                                    {% endif %}#}
                {#                                {% endfor %}#}
                {##}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {# Delete dialog #}
                {#                    <div class="modal" tabindex="-1" role="dialog" id="delete{{ question.id }}">#}
                {#                        <div class="modal-dialog">#}
                {#                            <div class="modal-content">#}
                {#                                <div class="modal-header">#}
                {#                                    <h5 class="modal-title">Delete Question</h5>#}
                {#                                    <button type="button" class="btn-close" data-mdb-dismiss="modal"></button>#}
                {#                                </div>#}
                {#                                <div class="modal-body">#}
                {#                                    <p>Are you sure you want to delete the question?</p>#}
                {#                                </div>#}
                {#                                <div class="modal-footer">#}
                {#                                    <form method="post">#}
                {#                                        {% csrf_token %}#}
                {#                                        <input type="hidden" name="delete" value="{{ question.id }}">#}
                {#                                        <button type="submit" class="btn btn-danger">Yes, delete</button>#}
                {#                                    </form>#}
                {#                                    <button type="button" class="btn btn-success" data-mdb-dismiss="modal">#}
                {#                                        No, cancel#}
                {#                                    </button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                {% endfor %}#}

                <div id="question-list">
                    {% include 'questions/subject_questions_ajax.html' %}
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
            {% include 'questions/pagination.html' with page=questions %}
        </div>

        <div class="position-fixed bottom-0 end-0 mb-3 me-3" style="z-index: 9999">
            <button type="button" class="btn btn-warning btn-floating btn-lg" id="scrollBtn" style="display: none">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>

    </section>


    <script>
        let scrollBtn = document.getElementById("scrollBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollBtn.style.display = "block";
            } else {
                scrollBtn.style.display = "none";
            }
        }

        scrollBtn.addEventListener("click", topFunction);

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

{% endblock %}

{#{% block domready %}#}
{#    var page = 1;#}
{#    var empty_page = false;#}
{#    var block_request = false;#}
{##}
{#    $(window).scroll(function() {#}
{#    var margin = $(document).height() - $(window).height() - 200;#}
{#    if  ($(window).scrollTop() > margin && empty_page == false &&#}
{#    block_request == false) {#}
{#    block_request = true;#}
{#    page += 1;#}
{#    $.get('{% url 'questions:subject' subject.id subject.slug %}?page=' + page, function(data) {#}
{#    if(data == '') {#}
{#    empty_page = true;#}
{#    }#}
{#    else {#}
{#    block_request = false;#}
{#    $('#question-list').append(data);#}
{#    }#}
{#    });#}
{#    }#}
{##}
{#    document.querySelectorAll('pre code').forEach((el) => {#}
{#    hljs.highlightElement(el);#}
{#    });#}
{#    });#}
{#{% endblock %}#}