body {
    font-weight: normal;
    break-inside: auto;
}

.subject-name {
    font-weight: bold;
    size: 45px;
    text-align: center;
}

.test-name {
    size: 35px;
    text-align: center;
}

h4 {
    font-weight: normal;
}

@page {
    margin: 5mm;
}