body {
    font-weight: normal;
    break-inside: auto;
}

.subject-name {
    font-weight: bold;
    size: 45px;
}

.test-name {
    font-weight: bold;
    size: 45px;
}

h4 {
    font-weight: normal;
}

@page {
    margin: 15mm;
}